{% extends 'layout.html' %}
{% block content %}
{% load template_filter %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX%} 
{% content as content%}

<header class="row bg-black">
  <div class="col-md-4">
    <img src="{{MEDIA_PREFIX}}{{content.HEADER|get_dict:'PROFILE_IMAGE'}}" class='img-fluid'/>
  </div>  

  <div class="col-md-8 my-auto p-4">
    <h1>{{content.HEADER|get_dict:'TITLE'|safe}}</h1>
    <h3>{{content.HEADER|get_dict:'SUBTITLE'|safe}}</h3>
    <p>{{content.HEADER|get_dict:'DESCRIPTION'|safe}}</p>
    <a class="btn btn-primary btn-lg rounded-0 my-3" href="{{MEDIA_PREFIX}}{{content.PORTFOLIO|get_dict:'CV_URL'}}">Download my CV</a>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">
  
  <h3>{{content.PORTFOLIO|get_dict:'TITLE'|safe}}</h3> 
  {% if object_list.count > 0 %}
    {% for project in object_list%}
    <p>{{content.PORTFOLIO|get_dict:'DESCRIPTION'|safe}}</p>
    <div class="col-md-4 p-4" id='project'>
      <div class="card bg-black card-project"  style="width: 18rem;">
        <img src="{{project.image.url }}" class="card-img-top" />

        <div class="card-body">

          <h2>{{ project.title }}</h2>
          <p>{{ project.description|truncatechars:150 }}</p>

        </div>
        <div class="card-footer bg-transparent border-success">{{project.get_status_display}}</div>
      </div>
    </div>
    {% endfor %}
  {% else %}
    <p class="pt-4">{{content.PORTFOLIO|get_dict:'TEXT_NO_PROJECTS'|safe}}</p>
  {% endif %}

  
</div>
<div id='detail_project'>

</div>

{% endblock %}